<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <div class="p-3 font-monospace" style="text-align: center;">
        <span><img class="dashboard-logo" src="../../assets/imgs/dashboard_income.svg"></span>
        <br>
        Monthly Income<br>
        <span class="text-success">{{ incomeService.monthlyIncome | currency: 'USD' }}</span>
      </div>
    </div>
    <div class="col-lg-2 text-end mt-auto">
      <button *ngIf="hideIncomeForm" class="btn btn-primary mt-2 mb-2 end-0" (click)="addIncome()">Add
        Income</button>
    </div>
  </div>
  <div class="row">
    <form *ngIf="!hideIncomeForm" [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="received_from" class="form-label">Received From:</label>
            <input type="text" class="form-control" id="received_from" formControlName="from"
              placeholder="Enter source of income">
            <span class="help-block text-danger"
              *ngIf="!incomeForm.get('from')?.valid && (incomeForm.get('from')?.touched || incomeForm.get('from')?.dirty)">Please
              enter a valid input</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input type="number" class="form-control" formControlName="amount" id="amount">
            <span class="help-block text-danger"
              *ngIf="!incomeForm.get('amount')?.valid && (incomeForm.get('amount')?.touched || incomeForm.get('amount')?.dirty)">Please
              enter a valid amount</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="mb-3">
            <label for="received_date" class="form-label">Received Date:</label>
            <input type="text" placeholder="mm-dd-yyyy" class="form-control" bsDatepicker [bsConfig]="bsConfig"
              id="date" formControlName="date">
            <br>
            <span class="help-block text-danger"
              *ngIf="!incomeForm.get('date')?.valid && (incomeForm.get('date')?.touched || incomeForm.get('date')?.dirty)">Please
              enter a valid date</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="description" class="form-label">Description (Optional):</label>
            <input type="text" class="form-control" id="description" formControlName="description">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!incomeForm.valid">Save</button>
    </form>
  </div>
  <ag-grid-angular class="ag-theme-quartz" style="height: 300px; width: 100%;" [rowData]="incomeRowData"
    [columnDefs]="incomeColDefs" [pagination]=true [gridOptions]="agGridOptions" editType="fullRow"
    (gridReady)="onGridReady($event)" [suppressClickEdit]="true">
  </ag-grid-angular>

</div>