<nav *ngIf="dashboardService.userLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light header"
  style="min-height: 30px;max-height: 40px;">
  <div class="container-fluid header">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active-link" routerLink="/dashboard">
          <a class="nav-link navbar-link-style" style="margin-top: 14px;padding-left: 12px;" aria-current="page"
            routerLinkActive="active-link">
            <img class="navbar-link-logo" src="../../assets/imgs/transaction.svg"><span>Transactions</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link" routerLink="/incomes">
          <a class="nav-link navbar-link-style" style="margin-top: 14px;padding-left: 12px;"
            routerLinkActive="active-link">
            <span><img src="../../assets/imgs/income.svg" class="navbar-link-logo"></span>
            Incomes
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link" routerLink="/expenses">
          <a class="nav-link navbar-link-style" style="margin-top: 14px;padding-left: 12px;"
            routerLinkActive="active-link">
            <span><img src="../../assets/imgs/expense.svg" class="navbar-link-logo"></span>
            Expenses
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active-link" routerLink="/liabilities">
          <a class="nav-link navbar-link-style" style="margin-top: 14px;padding-left: 12px;"
            routerLinkActive="active-link">
            <span><img src="../../assets/imgs/price-tag.svg" class="navbar-link-logo"></span>
            Liabilities
          </a>
        </li>
        <li *ngIf="dashboardService.userLoggedIn()" class="nav-item dropdown mt-3"
          [ngStyle]="{ 'margin-left': '500px;', pointerEvents: !!dashboardService.userLoggedIn() ? 'auto' : 'not-allowed', cursor: !!dashboardService.userLoggedIn() ? 'pointer' : 'not-allowed' }"
          style="margin-left: 500px;">
          <a class="nav-link dropdown-toggle" style="color: #ffff;" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{dashboardService.user.userName}}&nbsp;<span><img [src]="dashboardService.user.profile_img" class="navbar-user-logo"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['user', userId]">Profile</a></li>
            <li><a class="dropdown-item" href="#">Accounts</a></li>
            <li><a class="dropdown-item" (click)="onDelete()">Delete Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-confirmation-popup (confirmationEvent)="onConfirmationEvent($event)"></app-confirmation-popup>