.header{
  background-color: #333948!important;
}
.navbar-link-style{
  color: #FFFF!important;
  margin-right: 30px;
  background-color: #333948;
}
.navbar-user-logo{
  max-height: 25px;
  max-width: 25px;
  margin-left: 5px;
}
.active-link{
  background-color: #292c35!important;
}

.navbar-link-logo{
  max-height: 20px;
  max-width: 20px;
  margin-right: 5px;
}