<nav class="navbar navbar-default">
  <div class="container-fluid header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/dashboard" routerLinkActive="active-link" class="navbar-link-style" style="background-color: #333948;">
            <span class="navbar-link-logo"><img src="../../assets/imgs/transactions.svg"></span>
            Transactions
          </a>
        </li>
        <li><a routerLink="/incomes" routerLinkActive="active-link" class="navbar-link-style">
          <span><img class="navbar-link-logo" src="../../assets/imgs/income.svg"></span>
          Incomes</a></li>
        <li><a routerLink="/expenses" routerLinkActive="active-link" class="navbar-link-style">
          <span><img class="navbar-link-logo" src="../../assets/imgs/expense.svg"></span>
          Expenses</a></li>
        <li><a routerLink="/liabilities" routerLinkActive="active-link" class="navbar-link-style">
          <span><img class="navbar-link-logo" src="../../assets/imgs/price-tag.svg"></span>
          Liabilities</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-link-style" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Chris&nbsp;<span><img class="navbar-user-logo" src="../../assets/imgs/person-white.png"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>