<div class="container-fluid">
  <div class="row mb-2 mt-4 ms-2">
    <div class="col border col-lg-3 bg-white me-2 p-3 font-monospace dashboard-hover"
      style="text-align: center; max-width: 300px;">
      <span><img class="dashboard-logo" src="../../assets/imgs/balance.svg"></span>
      <br>
      Current Balance
      <br>
      <span class="text-success">{{currentBalance | currency: 'USD'}}</span>
    </div>
    <div class="col border col-lg-3 bg-white me-2 p-3 font-monospace dashboard-hover" routerLink="/incomes"
      style="text-align: center; max-width: 300px;">
      <span><img class="dashboard-logo" src="../../assets/imgs/dashboard_income.svg"></span>
      <br>Month's Income<br>
      <span class="text-success">{{ incomeService.monthlyIncome | currency: 'USD' }}</span>
    </div>
    <div class="col border col-lg-3 bg-white me-2 p-3 font-monospace dashboard-hover" routerLink="/expenses"
      style="text-align: center; max-width: 300px;">
      <span><img class="dashboard-logo" src="../../assets/imgs/dashboard-expense.svg"></span>
      <br>Month's Expense<br>
      <span class="text-danger">{{ expenseService.monthlyExpense | currency: 'USD' }}</span>
    </div>
    <div class="col border col-lg-3 bg-white me-2 p-3 font-monospace dashboard-hover" routerLink="/liabilities"
      style="text-align: center; max-width: 300px;">
      <span><img class="dashboard-logo" src="../../assets/imgs/dashboard-liabilities.svg"></span>
      <br>Liabilities<br>
      <span class="text-danger">{{ liabilityService.monthlyLiability | currency: 'USD' }}</span>
    </div>
  </div>
  <div class="row ps-2">
    <div class="col col-lg-12 mb-2 mt-5">
      <div *ngIf="noAccountExist" class="fs-4 text-danger">Please add account. No linked account found.</div>
      <button type="button" class="btn btn-info" style="text-align: center;" (click)="downloadPdf()">Download Cash Flow</button>
    </div>
  </div>
  <div class="row pb-3 ms-2">
    <div class="col col-lg-9 border bg-white me-2 dashboard-hover" style="max-width: 916px;">
      <ag-charts-angular [options]="chartOptions"></ag-charts-angular>
    </div>
    <div class="col col-lg-3 border bg-white p-3 dashboard-hover" (click)="onAddManageAccount()" style="text-align: center; max-width: 300px;">
      <div class="fs-3 font-monospace">Add/Manage Accounts</div>
      <hr>
      <div><img class="account-logo" src="../../assets/imgs/account.svg"></div>
    </div>
  </div>
</div>