<div class="header" style="height: 50px;margin: 0px;">
  <span class="ms-5 p-5 fs-2" style="font-family: Arial, Helvetica, sans-serif;color: #FFFF;">Personal Finance Manager</span>
</div>
<div class="container">
  <div class="row m-5 pt-5">
    <div class="col-lg-12">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control is-invalid" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text invalid-feedback">Please enter a valid email address</div>
        </div>
        <div class="mb-5">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control is-invalid" id="exampleInputPassword1">
          <div class="invalid-feedback">Password is required</div>
        </div>
        <button type="submit" class="btn btn-primary me-2 mb-3" style="background-color: #102C57;">Submit</button>
        <a class="ms-2" style="color: #102C57;">Rest password</a>
        <br>
        <a class="ms-2" style="color: #102C57;">New user? Click here to register</a>
        <!-- <button type="submit" class="btn btn-success ms-3">Register</button> -->
      </form>
    </div>
  </div>
</div>