.dashboard-logo{
  max-height: 50px;
  max-width: 50px;
  margin-left: 5px;
}

.center-aligned-group-header .ag-header-group-cell-label {
  justify-content: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.user-logo{
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
}
.hide{
  display: none;
}
.user-logo:hover + .hide{
  display: block;
}
.user-logo:hover{
  filter: brightness(0.5);
}