<footer class="pt-3 mt-4 footer" style="background-color: #333948; border: 2px solid #333948;">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a [href]="sourceCode" class="nav-link px-2 text-muted">
        <img src="../../assets/imgs/document.png" alt="source code" style="width: 30px;height: 30px;">
      </a>
    </li>
    <li class="nav-item">
      <a [href]="gitHub" class="nav-link px-2 text-muted">
        <img src="../../assets/imgs/source-code.svg" alt="source code" style="width: 30px;height: 30px;">
      </a>
    </li>
    <li class="nav-item">
      <a [href]="email" class="nav-link px-2 text-muted">
        <img src="../../assets/imgs/gmail.svg" alt="email address" style="width: 23px;height: 23px;">
      </a>
    </li>
    <li class="nav-item">
      <a [href]="linkedIn" class="nav-link px-2 text-muted">
        <span style="color: #FFFF;">
          <img src="../../assets/imgs/linkedin.svg" alt="linkedin" style="width: 30px;height: 30px;">
        </span>
      </a>
    </li>
  </ul>
  <p class="text-center text-muted"><span style="color: #FFFF;">&copy; {{year}} Personal Finance Manager</span></p>
</footer>